asgiref==3.11.1
brotli==1.2.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
dj-rest-auth==7.2.0
Django==6.0.2
django-cors-headers==4.9.0
django-filter==25.2
django-rest-passwordreset==1.5.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.14
fonttools==4.61.1
idna==3.11
inflection==0.5.1
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.9
pycparser==3.0
pydyf==0.12.1
PyJWT==2.11.0
pyphen==0.17.2
pytz==2025.2
PyYAML==6.0.3
requests==2.33.1
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.0.0
uritemplate==4.2.0
urllib3==2.6.3
weasyprint==68.1
webencodings==0.5.1
zopfli==0.4.1
